body {
  position: relative;
  overflow-y: scroll;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3a3661;
  background-color: #fff;
  cursor: default;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}

h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.04em;
  color: #09005d;

  span {
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-image: linear-gradient(12.73deg, #18aff2 5.08%, #5e53d8 35.73%, #e74296 76.59%, #fd7642 107.24%);
    background-clip: text;
  }

  @include m($lg) {
    font-size: 40px;
    line-height: 48px;
  }

  @include m($md) {
    font-size: 32px;
    line-height: 40px;
  }
}

.rv-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 32px;
  width: fit-content;
  height: 84px;
  overflow: hidden;
  border: none;
  border-radius: 24px;
  background-color: #fff;
  cursor: pointer;

  &__try {
    background-color: #fff;
    transition: all 0.4s;

    .rv-button__slime-wrapper {
      margin-top: auto;
      height: 168px;
      transform: translateY(0);
      transition: all 0.4s;
    }

    .rv-button__slime {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 84px;
    }

    &:hover {
      background-color: #f8fbff;

      .rv-button__slime-wrapper {
        transform: translateY(-50%);
      }
    }
  }

  &__hero {
    position: relative;
    z-index: 2;
    padding: 0 24px;
    height: 52px;
    min-height: 52px;
    transition: all 0.4s;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 52px;
      border-radius: 24px;
      background-image: linear-gradient(79.73deg, #18aff2 5.08%, #5e53d8 35.73%, #e74296 76.59%, #fd7642 107.24%);
      transition: all 0.4s;
    }

    &::before {
      opacity: 0;
      background-image: linear-gradient(79.73deg, #18f2f2 5.08%, #8176ff 39.13%, #ff6db8 73.19%, #ff946a 107.24%);
    }

    span {
      color: #fff !important;
    }

    .rv-button__slime-wrapper {
      margin-top: auto;
      height: 104px;
      transform: translateY(0);
      transition: all 0.4s;
    }

    .rv-button__slime {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 52px;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 0;
      }

      .rv-button__slime-wrapper {
        transform: translateY(-50%);
      }
    }
  }

  img {
    display: block;
  }

  span {
    display: block;
    margin-right: 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #09005d;
  }

  &__blue {
    margin-left: 8px !important;
    background-color: #5e53d8 !important;

    &:hover {
      background-color: #4a41af !important;
    }
  }

  &__red,
  &__blue {
    padding: 0 18px;
    height: 44px;
    border-radius: 40px;
    background-color: #e74296;
    transition: all 0.4s;

    .rv-button__slime {
      margin-top: auto;
      height: 88px;
      transform: translateY(0);
      transition: all 0.4s;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      height: 44px;
      color: #fff !important;
    }

    &:hover {
      background-color: #c52f7b;

      .rv-button__slime {
        transform: translateY(-50%);
      }
    }
  }
}

.rv-wrap {
  z-index: -1;
  display: none;

  img {
    margin: 0 auto;
    width: 80%;

    @include m($sm) {
      width: 100%;
    }
  }

  @include m($md) {
    display: block;
  }
}

.hero {
  position: relative;
  z-index: 2;
  background-color: #edf2ff;

  &::before {
    content: "";
    position: absolute;
    left: -5%;
    top: 12%;
    z-index: -1;
    width: 55%;
    height: 100%;
    background-image: url("../images/hero.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    @include m($md) {
      display: none;
    }
  }

  &__scroll {
    position: absolute;
    left: 0;
    bottom: 85px;
    display: flex;
    align-items: center;
    padding-left: 80px;
    height: 64px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 64px;
      height: 64px;
      border: 1px solid #a9a9c0;
      border-radius: 50%;
      background-color: transparent;
    }

    .hero__scroll-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 40px;
      margin-left: -56px;
    }

    .hero__scroll-wrapper {
      margin-top: auto;
      height: 128px;
      transform: translateY(0);
      transition: all 0.4s;
    }

    .hero__scroll-slime {
      display: flex;
      align-items: center;
      height: 64px;

      @include m($md) {
        span {
          font-weight: 500;
          letter-spacing: 0;
        }
      }
    }

    span {
      display: block;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #3a3661;
    }

    &:hover {
      .hero__scroll-wrapper {
        transform: translateY(-50%);
      }
    }

    @include m($md) {
      bottom: 35px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 100vh;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-width: 486px;

    h1 {
      margin-bottom: 24px;
      max-width: 486px;
      font-weight: 500;
      font-size: 64px;
      line-height: 72px;
      letter-spacing: -0.04em;
      color: #09005d;

      @include m($lg) {
        font-size: 54px;
        line-height: 62px;
      }

      @include m($md) {
        margin-bottom: 16px;
        max-width: 100%;
        font-size: 40px;
        line-height: 48px;
      }
    }

    p {
      margin-bottom: 32px;
      max-width: 431px;

      @include m($md) {
        margin-bottom: 16px;
        max-width: 100%;
      }
    }

    @include m($lg) {
      max-width: 400px;
    }

    @include m(840) {
      max-width: 350px;
    }

    @include m($md) {
      justify-content: flex-start;
      padding-top: 90px;
      max-width: 100%;
    }
  }
}

.partner {
  margin: 160px 0;

  h2 {
    margin: 0 auto 32px;
    max-width: 622px;
    text-align: center;

    @include m($xl) {
      margin: 0 auto 28px;
    }

    @include m($lg) {
      margin: 0 auto 24px;
    }
  }

  p {
    margin: 0 auto 64px;
    max-width: 821px;
    text-align: center;

    @include m($xl) {
      margin: 0 auto 50px;
    }

    @include m($lg) {
      margin: 0 auto 40px;
    }
  }

  ul {
    display: grid;
    grid-gap: 0 24px;
    grid-template-columns: 1fr 1fr 1fr;

    li {
      padding: 32px;
      border-radius: 48px;
      background-color: #f8fbff;

      img {
        margin-bottom: 32px;
        width: 100%;
        object-fit: contain;

        @include m($lg) {
          margin-bottom: 24px;
        }

        @include m(900) {
          margin: 0 auto 24px;
          max-width: 400px;
        }
      }

      h4 {
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: -0.04em;
        color: #09005d;

        @include m($xl) {
          font-size: 20px;
          line-height: 28px;
        }

        @include m($lg) {
          font-size: 18px;
          line-height: 26px;
        }
      }

      p {
        margin: 0;
        max-width: 279px;
        text-align: left;

        @include m(900) {
          max-width: 100%;
        }
      }

      @include m($xl) {
        padding: 24px;
      }
    }

    @include m(900) {
      grid-gap: 24px 0;
      grid-template-columns: 1fr;
    }
  }

  @include m($xl) {
    margin: 120px 0;
  }

  @include m($lg) {
    margin: 90px 0;
  }

  @include m($md) {
    margin: 64px 0;
  }
}

.base {
  margin: 160px 0 120px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 160px 20px;
    border-radius: 24px;
    background-color: #f8fbff;

    @include m($xl) {
      padding: 120px 20px;
    }

    @include m($lg) {
      padding: 90px 20px;
    }

    @include m(800) {
      flex-direction: column;
    }

    @include m($md) {
      padding: 64px 20px;
    }
  }

  &__content {
    margin-right: 24px;
    max-width: 384px;

    @include m(850) {
      margin-right: 15px;
      max-width: 340px;
    }

    @include m(800) {
      margin-right: 0;
      margin-bottom: 24px;
      max-width: 100%;
    }
  }

  h2 {
    margin-bottom: 32px;
    max-width: 350px;
    font-size: 40px;
    line-height: 48px;

    @include m($lg) {
      margin-bottom: 24px;
      max-width: 100%;
      font-size: 34px;
      line-height: 42px;
    }

    @include m($md) {
      margin-bottom: 16px;
      font-size: 28px;
      line-height: 36px;
    }
  }

  @include m($xl) {
    margin: 120px 0;
  }

  @include m($lg) {
    margin: 90px 0;
  }

  @include m($md) {
    margin: 64px 0;
  }
}

.try {
  margin: 120px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
    border-radius: 40px;
    background-image: linear-gradient(79.73deg, #18aff2 5.08%, #5e53d8 35.73%, #e74296 76.59%, #fd7642 107.24%);

    @include m($lg) {
      padding: 96px 20px;
    }
  }

  h2 {
    margin-bottom: 24px;
    text-align: center;
    color: #fff;

    @include m($md) {
      margin-bottom: 16px;
    }
  }

  p {
    margin-bottom: 24px;
    max-width: 296px;
    text-align: center;
    color: #fff;

    @include m($md) {
      margin-bottom: 16px;
    }
  }

  @include m($lg) {
    margin: 90px 0;
  }

  @include m($md) {
    margin: 64px 0;
  }
}

.solutions {
  margin: 0 0 160px;
  padding-top: 160px;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include m($lg) {
      flex-direction: column;
    }
  }

  &__info {
    margin-right: 36px;
    width: 100%;
    max-width: 372px;

    h2 {
      margin-bottom: 32px;

      @include m($xl) {
        margin-bottom: 28px;
      }

      @include m($lg) {
        margin-bottom: 24px;
      }
    }

    ul {
      display: flex;
      margin-top: 40px;
      height: fit-content;

      li {
        margin-bottom: 12px;

        &:not(:last-child) {
          margin-right: 12px;

          @include m($md) {
            margin-right: 8px;
          }

          @include m($sm) {
            margin-right: 4px;
          }
        }

        a {
          display: block;
          width: 52px;
          height: 52px;

          svg {
            rect {
              transition: all 0.4s;
            }
          }
        }

        &:nth-child(1) {
          a {
            &:hover {
              svg {
                rect {
                  fill: #2e30ff;
                }
              }
            }
          }
        }

        &:nth-child(2) {
          a {
            &:hover {
              svg {
                rect {
                  fill: #00a49a;
                }
              }
            }
          }
        }

        &:nth-child(3) {
          a {
            &:hover {
              svg {
                rect {
                  fill: #6f65ea;
                }
              }
            }
          }
        }

        &:nth-child(4) {
          a {
            &:hover {
              svg {
                rect {
                  fill: #34aadf;
                }
              }
            }
          }
        }

        &:nth-child(5) {
          a {
            &:hover {
              svg {
                rect {
                  fill: #5bc440;
                }
              }
            }
          }
        }

        &:nth-child(6) {
          a {
            &:hover {
              svg {
                rect {
                  fill: #a033ff;
                }
              }
            }
          }
        }
      }

      @include m($xl) {
        flex-wrap: wrap;
      }

      @include m($lg) {
        margin-top: 24px;
        margin-bottom: 28px;
      }
    }

    @include m($xl) {
      margin-right: 28px;
      max-width: 300px;
    }

    @include m($lg) {
      margin-right: 0;
      max-width: 100%;
    }
  }

  &__inner {
    width: 100%;

    h4 {
      margin-bottom: 12px;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.04em;
      color: #09005d;
    }
  }

  &__big {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 32px;
    width: 100%;
    min-height: 312px;
    border-radius: 48px;
    background-color: #f8fbff;

    .solutions__big-img {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 165px;

      img {
        min-width: 280px;
        min-height: 165px;

        @include m($md) {
          min-width: 220px;
        }
      }

      @include m($md) {
        margin-top: 20px;
      }
    }

    @include m($md) {
      flex-direction: column;
      min-height: 335px;
    }
  }

  &__big-info {
    margin-right: 20px;
    max-width: 220px;
  }

  &__small-wrapper {
    display: grid;
    grid-gap: 0 24px;
    grid-template-columns: 1fr 1fr;

    @include m($md) {
      grid-gap: 24px 0;
      grid-template-columns: 1fr;
    }
  }

  &__small {
    position: relative;
    z-index: 2;
    padding: 32px;
    min-height: 312px;
    overflow: hidden;
    border-radius: 48px;
    background-color: #f8fbff;

    img {
      position: absolute;
      right: 30px;
      bottom: -48px;
      z-index: -1;

      @include m($xl) {
        right: 0;
        bottom: -60px;
      }

      @include m($sm) {
        right: -30px;
        bottom: -50px;
      }
    }

    &:last-child {
      img {
        bottom: -66px;

        @include m($sm) {
          bottom: -100px;
        }
      }
    }

    @include m($xl) {
      min-height: 380px;
    }

    @include m($lg) {
      min-height: 335px;
    }
  }

  @include m($xl) {
    margin: 0 0 120px;
    padding-top: 120px;
  }

  @include m($lg) {
    margin: 0 0 90px;
    padding-top: 90px;
  }

  @include m($md) {
    margin: 0 0 64px;
  }
}

.business {
  margin: 160px 0;

  &__wrapper {
    padding: 160px 20px;
    border-radius: 24px;
    background-color: #f8fbff;

    h2 {
      margin: 0 auto 32px;
      max-width: 696px;
      text-align: center;
    }

    @include m($xl) {
      padding: 120px 20px;
    }

    @include m($lg) {
      padding: 90px 20px;
    }

    @include m($md) {
      padding: 64px 20px;
    }
  }

  &__text {
    margin: 0 auto 80px;
    max-width: 821px;
    text-align: center;

    @include m($xl) {
      margin: 0 auto 65px;
    }

    @include m($lg) {
      margin: 0 auto 56px;
    }
  }

  .second-box {
    @include m(860) {
      flex-direction: column-reverse;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      margin-bottom: 32px;
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.04em;
      color: #09005d;

      @include m($lg) {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 80px;

      @include m($lg) {
        margin-bottom: 56px;
      }
    }

    &:last-child {
      img {
        width: 100%;
        max-width: 484px;

        @include m($xl) {
          max-width: 400px;
        }
      }
    }

    @include m(860) {
      flex-direction: column;
    }
  }

  .box-second {
    margin-right: 0 !important;
    margin-left: 24px;

    @include m(860) {
      margin-left: 0;
    }
  }

  &__box-info {
    margin-right: 24px;
    width: 100%;
    max-width: 486px;

    p {
      @include m(860) {
        margin-bottom: 24px;
      }
    }

    @include m($xl) {
      max-width: 420px;
    }

    @include m($lg) {
      max-width: 350px;
    }

    @include m(860) {
      margin-right: 0;
      max-width: 100%;
    }
  }

  @include m($xl) {
    margin: 120px 0;
  }

  @include m($lg) {
    margin: 90px 0;
  }

  @include m($md) {
    margin: 64px 0;
  }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;

  h1 {
    margin-right: 41px;
    min-width: fit-content;
    font-weight: 500;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.04em;
    color: #09005d;
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }

  .logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 22px;
    margin: 0 auto;
    padding: 0 20px;

    img {
      margin: 0 auto;
    }
  }
}

.terms {
  padding: 200px 0;

  &__title {
    margin-bottom: 52px;

    @include m($lg) {
      margin-bottom: 42px;
    }

    @include m($md) {
      margin-bottom: 32px;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;

    @include m($md) {
      flex-direction: column;
    }
  }

  &__nav {
    position: sticky;
    top: 10px;
    padding-top: 20px;
    height: fit-content;

    p {
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 22px;

      @include m($md) {
        color: #bcc5d7;
      }
    }

    ul {
      li {
        a {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #09005d;
        }

        + li {
          margin-top: 16px;

          @include m($md) {
            margin-top: 24px;
          }
        }
      }
    }

    @include m($md) {
      position: relative;
      top: 0;
      margin-bottom: 30px;
    }
  }

  &__main {
    width: 100%;
    max-width: 894px;

    h2 {
      margin-bottom: 24px;

      &:first-of-type {
        padding-top: 20px;
      }

      &:not(:first-child) {
        margin-top: 56px;
        padding-top: 56px;
        border-top: 1px solid #bcc5d7;
      }
    }

    h3 {
      margin-top: 56px;
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.04em;
      color: #09005d;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  @include m($xl) {
    padding: 160px 0;
  }

  @include m($lg) {
    padding: 140px 0;
  }

  @include m($md) {
    padding: 120px 0;
  }
}