.footer {
  padding-top: 80px;
  background-color: #f8fbff;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 82px;
    border-bottom: 1px solid rgba(#09005d, 0.12);
  }

  &__social {
    margin-right: 0;
    margin-left: 0;

    .menu__social-slime {
      height: 128px !important;
    }

    .menu__social-block {
      width: 64px !important;
      height: 64px !important;
    }

    li {
      a {
        width: 64px;
        height: 64px;
      }
    }
  }

  &__copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 0 32px;

    p {
      font-size: 14px;
      line-height: 20px;
      color: #09005d;
    }

    a {
      display: block;
      font-size: 14px;
      line-height: 20px;
      text-decoration: none;
      color: #09005d;

      span {
        width: calc(100%);
        font-size: 14px;
        line-height: 20px;
        color: #09005d;
        background-image: linear-gradient(transparent calc(100% - 1px), #5e53d8 1px);
        background-size: 0 93%;
        background-repeat: no-repeat;
        transition: all 0.4s;
      }

      &:hover {
        span {
          color: #5e53d8;
          background-size: 100% 93%;
        }
      }
    }

    ul {
      display: flex;

      li {
        + li {
          position: relative;
          margin-left: 24px;

          &::after {
            content: "";
            position: absolute;
            left: -12px;
            top: 50%;
            width: 1px;
            height: 7px;
            background-color: rgba(#09005d, 0.25);
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  &__copy-designed {
    display: flex;

    a {
      margin-left: 8px;
      font-size: 14px;
      line-height: 20px;
      color: #09005d;
    }
  }
}