.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 22px;
  z-index: 30;
  transition: all 0.4s;

  .logo {
    z-index: 30;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include m(830) {
    top: 0;
    padding: 10px 0;
  }
}

.menu__mobile {
  display: flex;

  @include m(830) {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 25;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20vh;
    width: 100%;
    height: 120vh;
    background-color: #edf2ff;
    transform: translateX(200%);
    transition: all 0.4s;

    .menu__social {
      margin-right: 0;
      margin-bottom: 32px;

      li {
        a {
          width: 64px;
          height: 64px;
        }

        + li {
          margin-left: 16px;

          @include m($sm) {
            margin-left: 8px;
          }
        }
      }
    }

    .menu__social-slime {
      height: 128px !important;
    }

    .menu__social-block {
      width: 64px !important;
      height: 64px !important;
    }
  }
}

.menu__mobile--active {
  transform: translateY(0);
}

.burger {
  position: relative;
  z-index: 30;
  display: none;
  padding: 0;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  img {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.2s;

    &:first-of-type {
      visibility: visible;
      opacity: 1;
    }

    &:last-of-type {
      visibility: hidden;
      opacity: 0;
    }
  }

  @include m(830) {
    display: block;
  }
}

.burger--active {
  img {
    &:first-of-type {
      visibility: hidden;
      opacity: 0;
    }

    &:last-of-type {
      visibility: visible;
      opacity: 1;
    }
  }
}

.header-logo {
  @include m($xl) {
    max-width: 350px;
  }

  @include m($lg) {
    max-width: 300px;
  }

  @include m($sm) {
    max-width: 225px;
  }
}

.header--active {
  top: 0;
  padding: 10px 0;
  background-color: rgba(#f8fbff, 0.9);

  .menu__social-block {
    background-color: #edf2ff !important;
  }
}

.menu__control {
  display: flex;
}

.menu__social {
  display: flex;
  margin-right: 40px;

  li {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      overflow: hidden;
      border: 1px solid #bcc5d7;
      border-radius: 50%;

      .menu__social-slime {
        margin-top: auto;
        height: 96px;
        transform: translateY(0);
        transition: all 0.4s;
      }

      .menu__social-block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background-color: transparent;
        transition: all 0.4s;
      }

      &:hover {
        .menu__social-slime {
          transform: translateY(-50%);
        }
      }
    }

    + li {
      margin-left: 8px;
    }
  }
}